#title{
    margin: 16px;
}
#image-card{
        max-width: 50%;
        margin: 24px auto;
        background:white;
        box-shadow: 8px 8px 8px rgba(0,0,0, .1);
        border-radius: 12px;
        overflow: hidden;
}

.view-row{
    display: flex;
    justify-content: center;
}

.like-btn {
    text-align:center;
    border: 0.25px solid rgb(7, 7, 7);
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background-color: 	#fff;
    transition: 400ms;
}

.like-btn:after{
    border-style: none;
   
}

.like-btn-clicked {
    background-color:#42ba96;
    transition: 400ms;
}

.displayLink{
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    margin: 8px 32px;
}

.displayLink:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.active{
    color:#fff;
    background-color: #42ba96;
}

hr{
    width: 800px;
    margin: 4px auto;
}
